<div ng-controller='singlejobCtrl'>
<div class="jp_sidebar_close"></div>

<!-- header start -->
<div class="jp_header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jp_header_wrapper">
                    <div class="jp_logo">
                        <a href="/"><img src="assets/images/logo_with_text.png" alt=""></a>
                    </div>
                    <div class="jp_header_right">
                        <div class="jp_nav">
                            <ul>
                                <li><a href="login">Login</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="jp_page_title">
                    <h3>Job Detail</h3>
                    <!-- <p>you are on the right place</p> -->
                </div>
            </div>
            <!-- <div class="col-md-8 col-md-offset-2">
                <div class="jp_search_form">
                    <input type="" name="" placeholder="Search Job Here by Location, Skills">
                    <button class="jp_search_btn"></button>
                </div>
            </div> -->
        </div>
    </div>
</div>    
<!-- header end -->

<div class="jp_main_wrapper">
   <div class="container">
       <div class="row">
           <div class="col-md-12">
               <div class="jp_single_wrapper">
                    <div class="jp_job_box">
                        <div class="job_detail">
                            <h3>{{single_job.job_by_roles}}</h3>
                            <span>{{single_job.posted_recruiter.organisation_name}}</span>
                            <ul>
                                <li><span><img src="assets/images/experience.svg" alt=""></span> {{single_job.experience}}</li>
                                <li><span><img src="assets/images/location.svg" alt=""></span> {{single_job.job_location}}</li>
                            </ul>
                            <h4>
                                <span class="icon"></span>
                                <span class="skills">{{single_job.skills_required}}</span>
                            </h4>                           
                            <p><strong>Job Posted:</strong> {{single_job.created_at | formatdate}}</p>
                            <p><strong>Job Type:</strong> {{single_job.job_type}}</p>
                            <p><strong>Designation:</strong> {{single_job.job_by_roles}}</p>
                            <p><strong>Qualification:</strong>{{single_job.qualification}}</p>
                            <p><strong>Specialization:</strong>{{single_job.specialization}}</p>
                            <p><strong>Last Date of Application:</strong> {{single_job.last_date}} </p>

                            <div class="jp_job_disc">
                                <h4>Job Description</h4>
                                <p>{{single_job.job_discription}}</p>
                            </div>

                            <div class="jp_job_disc">
                                <h4>Organisation Detail</h4>
                                <p><strong>Name: </strong>{{single_job.posted_recruiter.organisation_name}}</p>
                                <p><strong>Location:</strong> {{single_job.posted_recruiter.recruiter_profile.org_location}}</p>
                                <p><strong>Website:</strong> <a href="javascript:void(0)" ng-click='redirectToCompany(single_job.posted_recruiter.recruiter_profile.org_website)'>{{single_job.posted_recruiter.recruiter_profile.org_website}}</a></p>
                            </div>
                        </div>
                        <div class="jp_view_btn">
                            <a href="login" class="jp_btn">Apply</a>
                        </div>
                    </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>